@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Source+Sans+Pro:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    transition: .15s linear;
    box-sizing:border-box;  
    font-family: 'Source Sans Pro';
    
}

